<h1><%= @person.full_name %></h1>



<strong> Title: </strong>
<%= @person.title %>
<br>

<strong> First Name: </strong>
<%= @person.first_name %>
<br>

<strong> Last Name: </strong>
<%= @person.last_name %>
