<h1><%= @person.full_name %></h1>

<br>
<strong><%= link_to 'Edit Person', edit_person_path(@person) %></strong>
<br>
<strong><%= link_to 'Add Location' %></strong>

<table>
  <div>


  </div>
</table>
